*{
  margin: 0;
  padding: 0;
}
.inline-block{
    display: inline-block;
}
h2.inline-block{
  color:rgb(47, 150, 247) ;
}
th{
  color: grey;
}
th:hover{
  color: rgb(0, 102, 255);
}
.table-bc:hover{
    border-bottom: 2px solid rgb(48, 227, 240);
    margin-bottom: 15px;
}
.table-rc:hover{
    border-bottom: 2px solid red;
    margin-bottom: 15px;
}
.table-gc:hover{
    border-bottom: 2px solid rgb(7, 185, 7);
    margin-bottom: 15px;
}
.table-pc:hover{
    border-bottom: 2px solid rgb(179, 8, 179);
    margin-bottom: 15px;
}
.search-bar{
  text-align: center;
  color: white; 
}
.image-text-input{
  /* position: absolute; */
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */  
  color:rgb(47, 150, 247);
  border: 1px solid #ccc; 
  padding: 10px;
  color: white;
 
  background-repeat: no-repeat;
}
.image-text-input:focus{
  border: 1px solid cyan;
}
h1{
  color:rgb(47, 150, 247) ;
}
.Photos{
  display: inline-block;
  margin-left: 9px;
  width: 325px;
  height: 220px;
  margin-top: 50px;
}
.Photos-size{
  width: 325px;
}
.Photos-para{
  color: grey;
  margin-top: 15px;
  display: inline-block;
}
.Photos-para-margin-left{
  margin-left: 150px;
}
.footer{
  width: 1250px;
  background-color: rgba(224, 224, 224, 0.957) ;
  height: 200px;
  padding: 50px;
}
.About-Catalog-Z{
  width: 450px;
  display: inline-block;
  margin-left: 125px;
}
h2.color{
  color: rgb(0, 102, 255);
}
p.color{
  color: grey;
  margin-top: 20px;
}
 .margin-top{
  margin-top: 60px;
 }
 .Our-Links{
   display: inline-block;
   margin-left: 75px; 
 }
 .link{
  display: inline-block;
   margin-left: 75px;
   border: 1px solid black;
 }
 .footer-cotent{
    border: 1px solid black; 
 }