*{
  margin: 0;
  padding: 0;
}
.inline-block{
    display: inline-block;
}
h2.inline-block{
  color:rgb(47, 150, 247) ;
}
th{
  color: grey;
}
th:hover{
  color: rgb(0, 102, 255);
}
.table-bc{
    border-bottom: 2px solid rgb(48, 227, 240);
    margin-bottom: 15px;
}
.table-rc:hover{
    border-bottom: 2px solid red;
    margin-bottom: 15px;
}
.table-gc:hover{
    border-bottom: 2px solid rgb(7, 185, 7);
    margin-bottom: 15px;
}
.table-pc:hover{
    border-bottom: 2px solid rgb(179, 8, 179);
    margin-bottom: 15px;
}
.inline-block-margin-left{
  margin-left: 1000px;
}
.search-bar{
  text-align: center;
  color: white; 
}
.image-text-input{
  /* position: absolute; */
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */  
  color:rgb(47, 150, 247);
  border: 1px solid #ccc; 
  padding: 10px;
  color: white;
 
  background-repeat: no-repeat;
}
.image-text-input:focus{
  border: 1px solid cyan;
}
h1{
  color:rgb(47, 150, 247) ;
}
.Photos{
  display: inline-block;
  margin-left: 9px;
  width: 325px;
  height: 220px;
  margin-top: 50px;
}
.Photos-size{
  width: 325px;
}
.Photos-para{
  color: grey;
  margin-top: 15px;
  display: inline-block;
}
.Photos-para-margin-left{
  margin-left: 150px;
}
.footer{
  width: 1250px;
  background-color: rgba(224, 224, 224, 0.957) ;
  height: 200px;
  padding: 50px;
}
.About-Catalog-Z{
  width: 450px;
  display: inline-block;
  margin-left: 125px;
}
h2.color{
  color: rgb(0, 102, 255);
}
p.color{
  color: grey;
  margin-top: 20px;
}
 .margin-top{
  margin-top: 80px;
 }
 .Our-Links{
   display: inline-block;
   margin-left: 75px; 
 }
 .link{
  display: inline-block;
   margin-left: 25px;
   background-color: white;
   margin-top: 10px;
 }
 a>img{
  width: 25px;
  display: inline-block;
 }
 .pages{
  width: 1350px;
  background-color: white ;
  height: 250px;
}
.page{
  width: 50px;
  background-color: rgba(193, 193, 193, 0.957);
  color: white;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  height: 35px;
  padding-top: 15px;
  margin-top: 100px;
}
.previous{
  display: inline-block;
  width: 150px;
  background-color: rgb(86, 154, 255);
  color: white;
  text-align: center;
  border-radius: 5px;
  height: 35px;
  padding-top: 15px;
  margin-right: 400px;
}
.next-page{
  display: inline-block;
  width: 150px;
  background-color: rgb(86, 154, 255);
  color: white;
  text-align: center;
  border-radius: 5px;
  height: 35px;
  padding-top: 15px;
  margin-left: 400px;
}
.page-1{
  background-color: rgb(86, 154, 255);
}
.page-2:hover,.page-3:hover,.page-4:hover{
  background-color: rgb(86, 154, 255); 
}
.color-margin-left{
  margin-left: 500px;
  margin-top: 50px;
  color: orangered;

}
